# Pandas ðŸ¼

> Fill in a module description here

In [ ]:
#| default_exp pandas

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
def foo(): pass

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# CREATE SAMPLE DATAFRAME
index = pd.date_range("1/1/2000", periods=8)
index = np.arange(1,9)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])
df.head()

          A         B         C
1 -0.538783  1.305363  0.679392
2 -0.449776 -1.046616  0.396743
3 -0.173677 -0.286526  1.522839
4 -0.178211 -0.040888 -1.314384
5  0.216197  0.254990  1.197324

In [ ]:
# CHANGE COLUMN NAMES
df.columns = [x.lower() for x in df.columns]
df.columns = [x.replace("a","z") for x in df.columns]
df.head()

          z         b         c
1 -0.538783  1.305363  0.679392
2 -0.449776 -1.046616  0.396743
3 -0.173677 -0.286526  1.522839
4 -0.178211 -0.040888 -1.314384
5  0.216197  0.254990  1.197324

In [ ]:
# CONVERT DATA TYPES
df.columns.to_numpy() #pd.index -> np.array
# == np.array(df.columns)

df.columns.array #pd.index -> pd.array
# == pd.array(df.columns)

<PandasArray>
['z', 'b', 'c']
Length: 3, dtype: object

In [ ]:
# TIMEZONES
pd.Series(pd.date_range("2000", periods=2, tz="America/New_York"))
pd.Series(pd.date_range("2000", periods=2, tz="Europe/Berlin"))
pd.Series(pd.date_range("2000", periods=2, tz="Asia/Shanghai"))

0   2000-01-01 00:00:00+08:00
1   2000-01-02 00:00:00+08:00
dtype: datetime64[ns, Asia/Shanghai]

In [ ]:
#CREATE TIME RANGES
pd.date_range("1/1/2000 08:00:01", "1/2/2000 08:04:08", freq="min")
pd.date_range("1/1/2000 08:00:01", periods=4, freq="s") #m, w, d, h, min, s

DatetimeIndex(['2000-01-01 08:00:01', '2000-01-01 08:00:02',
               '2000-01-01 08:00:03', '2000-01-01 08:00:04'],
              dtype='datetime64[ns]', freq='S')